.class-header {
    display: flex;
    align-items: center;
    width: 100%;
    min-width: 70vw;
    height: 40px;
    margin-top: 1rem;
    background: rgba(255, 255, 255, 0.35);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(7.5px);
    -webkit-backdrop-filter: blur(7.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    padding: 32px;
    justify-content: center;
}

nav {
    padding: 16px;
}

nav a {
    margin-right: 16px;
    text-decoration: none;
}

nav a.active {
    color: red;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.5em;
}