.navigation-menu {
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
}

.hash-menu {
    position: relative;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hash-menu li {
    position: absolute;
    list-style: none;
    left: 0;
    transform-origin: 100px;
    transition: 0.5s;
    transition-delay: calc(0.1s * var(--i));
    transform: rotate(0deg) translateX(80px);
}

.hash-menu.active li {
    transform: rotate(calc(360deg / 8 * var(--i)));
}

.hash-menu li a {
    background: rgb(141, 0, 205);
    background: radial-gradient(circle, rgba(141, 0, 205, 1) 0%, rgba(144, 0, 162, 1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transform: rotate(calc(360deg / -8 * var(--i)));
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
    color: #fff;
    transition: 0.5s;
    z-index: 201;
}

.hash-menu.active li a:hover {
    color: #fff;
    scale: 1.5;
    box-shadow: 0 0 4px #333;
}

.toggle {
    position: absolute;
    width: 60px;
    height: 60px;
    background: rgb(141, 0, 205);
    background: radial-gradient(circle, rgba(141, 0, 205, 1) 0%, rgba(144, 0, 162, 1) 100%);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 200;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
    font-size: 2em;
    transition: transform 1s;
    transition: 0.5s;
}

.toggle:hover {
    color: #fff;
    scale: 1.2;
}

.hash-menu.active .toggle {
    transform: rotate(315deg);
}