.dashboard {
    width: 85vw;
    min-height: 90vh;
    padding: 12px 59px 59px 59px;
}

.dashboard > img {
    width: 62px;
    height: 62px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 2px 8px #333;
}

.list-all-user-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.admin-chart {
    display: flex;
    flex-direction: column;
    margin-top: 64px;
    width: 100%;
}