.home-footer {
    position: relative;
    width: 100%;
    height: 70vh;
    overflow: hidden;
    background: #fff;
}

.home-footer .footer-content {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 46px;
}

.home-footer .footer-content .flex-1,
.home-footer .footer-content .flex-2 {
    flex: 1;
}

.home-footer .footer-content .flex-3 {
    flex: 2;
}

.home-footer .footer-content .flex-2,
.home-footer .footer-content .flex-3 {
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 32px;
}

.home-footer .footer-content .flex-1 img {
    height: 110px;
}


.flex-3 ul,
.flex-2 ul {
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 700;
}

.flex-3 ul li,
.flex-2 ul li {
    font-weight: 400;
    text-transform: none;
    line-height: 32px;
    font-size: 1rem;
    list-style: none;
}

.home-footer img {
    width: 100%;
    height: 100vh;
    background-size: 100%;
    object-fit: cover;
}

.wave {
    position: absolute;
    bottom: 90px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(../../../assets/img/wave.png);
    background-size: 1000px 100px;
}

.box {
    width: 100%;
    height: 120px;
    opacity: 1;
    background-color: white;
    bottom: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.box p {
    margin-top: 12px;
    display: block;
    height: 30px;
    opacity: 1;
    bottom: 0;
    display: flex;
    justify-content: center;
    color: #333;
}

.social-icon {
    width: 320px;
    height: 100px;
    color: #333;
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
    align-items: flex-end;
}

.wave.wave1 {
    animation: animate 30s linear infinite;
    z-index: 100;
    opacity: 1;
    animation-delay: 0s;
    bottom: 90px;
}

.wave.wave2 {
    animation: animate2 15s linear infinite;
    z-index: 99;
    opacity: 0.5;
    animation-delay: -5s;
    bottom: 100px;
}

.wave.wave3 {
    animation: animate 30s linear infinite;
    z-index: 98;
    opacity: 0.2;
    animation-delay: -2s;
    bottom: 105px;
}

.wave.wave4 {
    animation: animate2 15s linear infinite;
    z-index: 97;
    opacity: 0.7;
    animation-delay: -5s;
    bottom: 100px;
}



@keyframes animate {
    0% {
        background-position-x: 0;
    }

    100% {
        background-position-x: 1000px;
    }
}

@keyframes animate2 {
    0% {
        background-position-x: 0;
    }

    100% {
        background-position-x: -1000px;
    }
}

@media only screen and (max-width : 1366px) {
    .home-footer {
        height: 65vh;
    }
    .home-footer .footer-content .flex-2, .home-footer .footer-content .flex-3 {
        margin-top: 80px;
    }

    .home-footer .footer-content .flex-1 img {
        height: 80px;
    }
}

@media only screen and (max-width : 1281px) {
    .home-footer {
        height: 60vh;
    }
}

@media only screen and (max-width : 1080px) {
    .home-footer {
        height: 85vh;
    }
}

@media only screen and (max-width : 1023px) {
    .home-footer {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        text-align: center;
        height: 90vh;
    }

    .home-footer .footer-content .flex-2, .home-footer .footer-content .flex-3 {
        margin-top: 24px;
    }

    .home-footer .footer-content {
        justify-content: center;
        width: 55%;
        flex-direction: column;
    }
    .home-footer .footer-content .flex-2{
        width: 100%;
        padding-bottom: 2rem;
    }
    .home-footer .footer-content .flex-3 {
        width: 80%;
        margin: 0 auto;
    }
}

@media only screen and (max-width : 769px) {
    .home-footer {
        height: 95vh;
    }

    .home-footer .footer-content { 
        width: 80%;
    }
    
    .home-footer .footer-content .flex-1 img {
        height: 90px;
    }
}

@media only screen and (max-width : 600px) {
    .home-footer {
        height: 110vh;
    }

    .home-footer img {
        height: 105vh;
    }

    .home-footer .footer-content .flex-1 img {
        height: 75px;
    }
}

@media only screen and (max-width : 381px) {
    .home-footer {
        height: 185vh;
    }

    .home-footer img {
        height: 167vh;
    }
}

