.sidebar-body {
    width: 90%;
    margin-left: 6rem;
    position: absolute;
    min-height: 100vh;
}

.news {
    width: 100%;
    min-height: 50vh;
    margin-top: 16px;
    background: rgba(255, 255, 255, 0.35);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(7.5px);
    -webkit-backdrop-filter: blur(7.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.news>img {
    display: flex;
    margin: 32px auto;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    border-radius: 10px;
    width: 95%;
    height: 400px;
}

.glass-card-grid {
    padding: 3rem 2rem 3rem 2rem;
    display: flex;
    overflow: hidden;
    position: relative;
    color: #333;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
}

.glass-card-grid a {
    text-decoration: none;
    margin-bottom: 32px;
}

.glass-card-grid .glass-card {
    width: 300px;
    height: 350px;
    box-shadow: -2rem 0 3rem -2rem #000;
    padding: 1.5rem;
    color: #333;
    display: flex;
    flex-direction: column;
    transition: 0.2s;
    /* margin: 20px 130px 20px -130px; */
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    backdrop-filter: blur(15px);
    text-overflow: ellipsis;
    overflow: hidden;
}

.glass-card-grid .glass-card:hover {
    transform: translateY(-1rem) rotate(3deg);
    cursor: pointer;
}

.glass-card-grid .glass-card:first-child:hover {
    transform: translate(-0.5rem, -1rem) rotate(3deg);
}

.glass-card-grid .glass-card:not(:first-child) {
    margin-left: -130px;
    box-shadow: -3rem 0 3rem -2rem #000;
}

.glass-card-grid .glass-card .glass-card-title {
    font-size: 1.3rem;
    margin: 0 0 1rem;
    color: #333;
}

.glass-card-grid .glass-card a {
    text-decoration: none;
    color: #333;
}

.glass-card-grid .glass-card p {
    font-weight: normal;
    max-width: 100%;
    line-height: 1.5rem;
    -webkit-line-clamp: 8;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 190px;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}

.glass-card-grid .glass-card .tags a {
    font-style: normal;
    font-weight: 800;
    text-transform: uppercase;
    color: #ff7a18;
    font-size: 0.66rem;
    margin-inline-end: 0.66rem;
}

.glass-card-grid .glass-card .author-row {
    margin-block-start: auto;
    display: grid;
    grid-template-columns: 40px 1fr;
    gap: 0.5rem;
    align-items: center;
    color: #565656;
    line-height: 1.3;
}

.create-post-modal {
    position: absolute;
    top: 0;
    right: 5%;
}

.class-modal-content {
    width: 100%;
    min-height: 320px;
    display: flex;
    flex-direction: column;
}

.class-modal-content .input-box {
    position: relative;
    width: 100%;
}

.class-modal-content .input-box textarea,
.class-modal-content .input-box input {
    padding: 5px 29px 5px 0;
    font-size: 1.2rem;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    background-color: transparent;
    resize: none;
    width: 100%;
}

.class-modal-content .input-box label {
    position: absolute;
    left: 0;
    top: 0;
    padding: 5px 0;
    font-size: 1rem;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}

.class-modal-content .input-box input[type="file"] {
    z-index: 2;
    opacity: 0;
    position: absolute;
    cursor: pointer;
    width: 45%;
}

.class-modal-content .input-box input:valid~label,
.class-modal-content .input-box input:focus~label,
.class-modal-content .input-box textarea:valid~label,
.class-modal-content .input-box textarea:focus~label {
    color: #e91e63;
    font-size: 0.7rem;
    transform: translateY(-20px);
}

.class-modal-content .input-box>button:nth-of-type(2),
.class-modal-content .input-box>button:nth-of-type(1) {
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    padding: 12px;
    position: absolute;
    top: 12px;
    z-index: 1;
    opacity: 1;
}

.class-modal-content .input-box>button:nth-of-type(2) {
    right: 0;
}

.btn-create {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    border-radius: 0.7rem;
    border: 1px solid transparent;
    color: #fff;
    background-color: rgb(211, 63, 248);
    transition: 0.5s ease;
    cursor: pointer;
}

.btn-create:hover {
    background-color: rgb(193, 5, 240);
    box-shadow: 0 2px 8px #333;
}

@media only screen and (max-width: 1366px ){
    .sidebar-body {
        width: 88%;
    }
}

@media only screen and (max-width: 1023px ){
    .sidebar-body {
        width: 85%;
    }
}

@media only screen and (max-width: 800px ){
    .sidebar-body {
        width: 83%;
    }
}


@media only screen and (max-width: 859px ){
    .create-post-modal {
        left: 0;
        right: 0;
    }
}

@media only screen and (max-width: 720px ){
    .sidebar-body {
        width: 80%;
    }

    .news>img {
        display: none;
    }
}

@media only screen and (max-width: 600px ){
    .sidebar-body {
        width: 76%;
    }
}
