.introduce {
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: rgb(246, 230, 255);
    margin: 0 auto;
}

.left-int {
    z-index: 1;
    padding-top: 1.5rem;
    flex: 4;
    margin-left: 7rem;
}

.left-int>img {
    padding-top: 1.5rem;
    width: 40rem;
    flex: 1;
}

.right-int {
    display: flex;
    flex: 3;
    width: 100%;
    padding-top: 3.4rem;
    align-items: center;
    margin-right: 7rem;
}

.intro-content {
    display: inline-block;
    color: #333;
}

.intro-content>span:nth-child(1) {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 900;
}

.intro-content>span:nth-child(3) {
    display: flex;
    justify-content: flex-end;
}

@media only screen and (max-width: 1023px) {
    .introduce {
        flex-direction: column-reverse;
    }

    .left-int {
        margin: 0 auto;
    }

    .left-int>img {
        padding-top: 0;
    }

    .right-int {
        margin: 0 auto;
        width: 50%;
        padding-top: 0;
    }

    .intro-content {
        margin-top: 4rem;
    }
}