.home {
    overflow: hidden;
    color: #fff;
    margin: -1rem;
}

.hero {
    display: flex;
    justify-content: space-between;
    background-image: url(../../assets/img/homepage_bg.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    z-index: 1;
    min-height: 85vh;
    image-rendering: pixelated;
    position: relative;
}


.left-h {
    z-index: 1;
    padding: 2rem;
    padding-top: 1.5rem;
    flex: 4;
}

.right-h {
    z-index: 1;
    padding-top: 3.4rem;
    flex: 1;
}

@media only screen and (max-width: 1023px) {
    .hero {
        position: relative;
        min-height: 45vh;
        height: 100%;
        background-position: center center;
        background-repeat: no-repeat;
    }

    .left-h {
        flex: 7;
    }
}

@media only screen and (max-width: 759px) {
    .hero {
        top: -4rem;
        padding-top: 4rem;
        height: 100%;
        width: 100%;
        background-position: center center;
        background-repeat: no-repeat;
    }
}


@media only screen and (max-width: 479px) {
    .hero {
        background-size: cover;
        position: relative;
        object-fit: cover;
    }
}