.PostSide {
    display: flex;
    flex-direction: column;
    overflow: auto;
    gap: 1rem;
    height: 120vh;
}

@media only screen and (max-width: 940px) {
    .PostSide {
        margin-top: 55px;
        width: 97%;
    }
}