.admin {
    position: relative;
    display: flex;
    width: 100%;
    min-height: 100vh;
    margin: -1rem;
    width: 102.5%;
}

.admin-body {
    display: flex;
    width: 83vw;
    margin-top: 32px;
    justify-content: flex-end;
}