.input-box {
    display: flex;
    width: 100%;
    position: relative;
    flex-direction: column;
}

.input-box textarea {
    width: 100%;
    padding: 5px 29px 5px 0;
    font-size: 1rem;
    margin: 10px 0;
    border: 1px solid rgb(193, 193, 193);
    outline: none;
    background-color: transparent;
    resize: none;
    border-radius: 0.2em;
    padding: 8px
    ;
}

.input-box textarea:focus {
    border: 2px solid rgba(20, 38, 253, 0.6);
}

.input-box label {
    top: 22px;
    left: 14px;
    font-size: 1em;
    letter-spacing: 0.2px;
    background-color: #fff;
    padding: 0 8px 0 2px;
    position: absolute;
    transition: 0.1s;
}

.input-box textarea:valid~label,
.input-box textarea:focus~label {
    color: rgba(20, 38, 253, 0.8);
    font-size: 0.8rem;
    transform: translateY(-20px);
}