.SocialMedia {
    position: relative;
    display: grid;
    grid-template-columns: 17rem auto 17rem;
    gap: 1rem;
}

.nav-bottom-right-menu {
    position: fixed;
    z-index: 1000;
    bottom: 0;
    right: 0;
}

@media only screen and (max-width: 1280px) {
    .SocialMedia {
        grid-template-columns: 20% 60% 20%;

    }
}

@media only screen and (max-width: 940px) {
    .SocialMedia {
        grid-template-columns: 0 100% 0;
        padding-right: 2rem;
    }
}