.user-card {
    display: flex;
    flex-direction: row;
    /* min-width: 90vw; */
    width: 100%;
    padding: 32px;
    background: rgba(255, 255, 255, 0.44);
    border-radius: 16px;
    backdrop-filter: blur(13.3px);
    -webkit-backdrop-filter: blur(13.3px);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.user-card>img {
    min-width: 90vw;
    height: 16rem;
    
    object-fit: cover;
    object-position: center;
    object-position: 50% 50%;
    position: relative;
}

.user-profile {
    display: flex;
    justify-content: center;
    justify-items: center;
    width: 7rem;
    height: 7rem;
    box-shadow: 0 4px 16px 0 #333;
    border-radius: 50%;
}

.user-profile>img {
    width: 7rem;
    height: 7rem;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}

.user-info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 5.5rem;
    margin: 16px;
}

/* @media only screen and (max-width: 1366px ){
    .user-card {
        width: 95%;
    }
}

@media only screen and (max-width: 960px ){
    .user-card {
        width: 92%;
    }
}

@media only screen and (max-width: 800px ){
    .user-card {
        width: 90%;
    }
}

@media only screen and (max-width: 720px ){
    .user-card {
        width: 87%;
    }
} */
